<div align="center">

<table border="0" cellpadding="0" cellspacing="0" width="770">
<tr>
<td>
<img src="http://www.funtote.com/images/funtote_banner.jpg" width="770" height="122">
</td>
<tr>
</table>
<!--------------------------- 5 c x 10 r table content table ----------------------------------->
<table border="0" cellpadding="0" cellspacing="0" width="770">

	<!-- top lines row -->
<tr> 
  <td width="1" rowspan="5" bgcolor="#cccccc"><img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>
  <td width="1" bgcolor="#cccccc" colspan="5"><img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>
  <td width="1" rowspan="5" bgcolor="#cccccc"><img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>
</tr>


<!-- ********  the content table row *********** -->

<tr> 
<td bgcolor="#FFFFFF" background="">
<center>

<!-- the brands content table -->
<table border="0" cellpadding="0" cellspacing="0" width="764">


<!-- first brand top line and margin -->
<tr> <!-- top links bar -->
  <td bgcolor="#ccaa66" background="" colspan="10" valign="center" height="25">
  <img src="http://www.funtote.com/images/s.gif" width="5" height="1">
  <a href="http://www.funtote.com" class="currentboldlink">HOME</a>
  <img src="http://www.funtote.com/images/icon0.gif" width="7" height="8">

  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">
  <font color="#aaaaaa">|</font>
  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">

  <img src="http://www.funtote.com/images/s.gif" width="3" height="1">
  <a href="http://www.funtote.com/catalog.html" class="whiteboldlink">CATALOG</a>
  <img src="http://www.funtote.com/images/icon1.gif" width="7" height="8">

  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">
  <font color="#aaaaaa">|</font>
  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">

  <a href="http://www.funtote.com/testimonials-best-canvas-tote-bag.html" class="whiteboldlink">TESTIMONIALS</a>
  <img src="http://www.funtote.com/images/icon2.gif" width="7" height="8">

  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">
  <font color="#aaaaaa">|</font>
  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">

  <a href="http://www.funtote.com/stores.html" class="whiteboldlink">STORES</a>
  <img src="http://www.funtote.com/images/icon3.gif" width="7" height="8">

  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">
  <font color="#aaaaaa">|</font>
  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">

  <a href="http://www.funtote.com/aboutus-wholesale-canvas-tote-bag.html" class="whiteboldlink">ABOUT US</a>
  <img src="http://www.funtote.com/images/icon4.gif" width="7" height="8">

  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">
  <font color="#aaaaaa">|</font>
  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">

  <a href="http://www.funtote.com/contactus.html" class="whiteboldlink">CONTACT US</a>
  <img src="http://www.funtote.com/images/icon5.gif" width="7" height="8">

  </td>
</tr>



<tr> 
  <!-- left margin -->
  <td bgcolor="#FFFFFF" background="">
  <img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>

  <!-- the Article table -->
  <td bgcolor="#ffffff" background="" rowspan="5" align="left" valign="center">
  <table border="0" cellpadding="0" cellspacing="0" width="270">
    <tr>
    <td bgcolor="#FFFFFF" background="">


<div id="fadeshow1"></div>

    </td>
    </tr>
  </table>
  </td>

  <td bgcolor="#FFFFFF" background=""><img src="http://www.funtote.com/images/s.gif" width="8" height="1"></td>
  <td bgcolor="#ffffff" background="" align="left" valign="top">


  <!-- template start -->
  <!-- template start -->


<h1>Your Referrals Status</h1>
<br>
Hi! <%= @shopcode.first_name =%>, 
<p>
Thank you for shopping with us! You have <br>
earned $<%= @shopcode.store_credit =%> with your Shopcode: <%= @shopcode.shop_code =%>

<p>
You can redeem your credit when it reaches $50!
<p>

<!-- use html comment tag -->
<!-- display the couponsales for the shopcode. -->
<% if @shopcode.store_credit > 0 %>
<table>
	<thead>
	<tr>
		<th>Purchase Date</th>
		<th>Name</th>
		<th>Amount</th>
		<th>Credit Earned</th>
	</tr>
	</thead>

	<tbody>
		<% @couponsales.each do |couponsale| %>
		<tr>
			<td><%= couponsale.purchase_date %></td>
			<td><%= couponsale.first_name %></td>
			<td align='right'>$<%= couponsale.amount %></td>
			<td align='right'>$<%= couponsale.credit %></td>
		</tr>
	<% end %>
	</tbody>
	<tr><td colspan='4' align="right"> &nbsp; </td> </tr>
	<tr>
		<td colspan='4' align="right">
<% flash[:backlink]="Y" %>
<% flash[:message] = "" %>
<%= link_to "Back", "Index" %> &nbsp; <%= link_to "Shop", FUNTOTE_SHOP_PATH %>
		</td>
	</tr>
</table>
<% end %>



  <!-- template end -->
  <!-- template end -->



  </td>



  <td bgcolor="#FFFFFF" background=""><img src="http://www.funtote.com/images/s.gif" width="10" height="1"></td>
</tr>


</table>


</center>
</td>
</tr>




<!-- bottom items high light -->
<tr> <!-- bottom links bar -->
  <td bgcolor="#cccccc" background="" valign="center">
  <table border="0" cellpadding="0" cellspacing="0" width="764">
    <tr>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><img src="http://www.funtote.com/images/s.gif" width="3" height="1"><a href="./catalog.html" class="currentboldlink">COLLECTIONS:</a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><span class="whitetextbold">> </span><a href="http://www.funtote.com/catalog.html" class="brandlink">Side Zipper</a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><span class="whitetextbold">> </span><a href="http://www.funtote.com/funtote_baggy_tote_bags.html" class="brandlink">Baggy</a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><img src="http://www.funtote.com/images/s.gif" width="15" height="1"><span class="whitetextbold">> </span><a href="http://www.funtote.com/funtote_eco_shopping_reusable_bags.html" class="brandlink">Eco </a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><img src="http://www.funtote.com/images/s.gif" width="15" height="1"><span class="whitetextbold">> </span><a href="http://www.funtote.com/funtote_kawaii_cute_hobo_bags.html" class="brandlink">Hobo</a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><span class="whitetextbold">> </span><a href="http://www.funtote.com/funtote_messenger_bags.html" class="brandlink">Messenger</a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><span class="whitetextbold">> </span><a href="http://www.funtote.com/funtote_novelty.html" class="brandlink"> Novelty</a></td>
    </tr>
  </table>
  </td>
</tr>





</table> <!-- end of content table -->




<!--------------------------- bottom menu table ------------------------------->
<table border="0" cellpadding="0" cellspacing="0" width="770">
<tr> 
  <td bgcolor="#FFFFFF" background="" valign="top" align="right">
	<span class="footertext">Copyright &copy; <img src="http://www.funtote.com/images/copy_year.jpg" border="0"> <a href="http://www.funtote.com" class="footerlink">funtote.com</a>. All Rights Reserved. <a href="http://www.funtote.com/terms.html" class="footerlink">terms</a> / <a href="http://www.funtote.com/info.html" class="footerlink">info</a> / <a href="http://www.funtote.com/privacy.html" class="footerlink">privacy</a></span>
	</td>
</tr>
</table>

</div>
